<!DOCTYPE html>
<html>
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width-device-width, initial-scale=1, shrink-to-fit=no">
	<!--Bootstrap CSS-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>Perhijos</title>
	<style type="text/css">
		
		div.uno{
			
			border-style: double;
			border-width: 10px;
			border-color: pink;
			padding: 20px;
		}
		div.dos{
			
			border-style: dotted;
			border-width: 5px;
			border-color: #4EFAF0;
			padding: 20px;
		}
		p{
			font-family: serif;
			text-align: center;
			font-style: cursive;
			font-size: 20px;
		}
		</style>
</head>
<body>
	{% include 'navbar.html' %}
	<br>

	<p>Mi parte favorita de la pagina, en general me gustan muchisimo los animales, pero mi animal favorito sin duda seria el perro.
	 Estos cinco perros son los más locos que existen, me gusta pasar todo el tiempo del mundo junto a ellos, Blue, Freya, Junior(Bebito), Lucas y Vaquita, todos completamente diferentes en cuanto a raza y personalidad, todos los dias me enseñan algo nuevo, y por supuesto que es dificil y una completa responsalidad tenerlos pero los amo con todo mi corazón.</p>
	
	<div class="uno">
	<div class="dos">	
	<center>
	<img src="{{url_for('static', filename='c.gif' )}}" width="100" height="100" >
	<img src="{{url_for('static', filename='blue.jpeg' )}}" width="250" height="250" >
	<img src="{{url_for('static', filename='cachos.jpeg' )}}" width="250" height="250" >
	<img src="{{url_for('static', filename='lucas.jpeg' )}}" width="250" height="250" >
	<img src="{{url_for('static', filename='vaca.jpeg' )}}" width="250" height="250" >
	<img src="{{url_for('static', filename='c.gif' )}}" width="100" height="100" > </center>
	</div>
	</div>

	
	

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<br>
	{% include 'footer.html' %}

</body>
</html>