<!-- Footer -->
<footer class="">
  <!-- Grid container -->
  <div class="container p-2">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-15 mb-4 mb-md-0">
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center  p-3 col-md-auto" style="background-color: #000000;">
    © 2021 Derechos reservados:
    <a class="text-dark" href="https://mdbootstrap.com/">Mi Pagina Jennifer Palacios</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->